@charset "UTF-8";

body{
    background-color: rgb(207, 235, 207);
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    color: rgb(43, 71, 43);
}

h1#principal {
    text-align: center;
    background-color: rgb(43, 71, 43);
    color: rgb(207, 235, 207);
    padding: 24px;
}

h2{
   color: rgb(4, 46, 4);
}

.basico {
    color: rgb(122, 156, 100);
}

.avancado {
    color: rgb(23, 48, 6);
}

.intermed {
color: rgb(111, 136, 42);
}