@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(90deg, #9FC131, #DBF227);
}

main{
    background-color: white;
    box-shadow: 5px 5px 30px #819c288f;
    width: 650px;
    padding: 24px;
    margin: auto;
    border-radius: 8px;
}

h1 {
    color: #005C53;
text-align: center;
}

h2 {
 color:#053553;
}

p {
    text-align: justify;


}
